.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ----------------------------------------------- */
/* REUSABLE */
/* ----------------------------------------------- */

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.btn:link, .btn:visited {
  display: inline-block; /* a tags are inline, but we want to be able to specify padding & margin, so that's why we use inline-block */
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s; /* when we hover, it won't be an instant change, it will be over 0.2 seconds */
  margin-right: 15px;
}

.btn-ghost:link {
  border: 1px solid white;
  color: white;
}

.btn:hover, .btn:active {
  background-color: white;
}

.btn-ghost:hover {
  border: 1px solid white;
  color: black;
}

/* ----------------------------------------------- */
/* TOP SECTION */
/* ----------------------------------------------- */

.top-section-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/top-section-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; /* means it's 100% of the view port. If we didn't include this, part of image would be cut off b/c it would only fill-in where there was text*/
  background-attachment: fixed;
}

.top-section-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

/* ----------------------------------------------- */
/* ABOUT ME */
/* ----------------------------------------------- */

#AboutMe {
  margin-top: 2%;
  margin-bottom: 2%;
}

#about-me-text p {
  font-size: 110%;
  text-indent: 15px;
  line-height: 145%;
}

#about-me-img {
  height: 86%;
  width: 86%;
  margin-left: 7%;
}
